<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <title>Access Log Parser</title>
  <style>
    .actie {
      border-bottom: 1px dashed gray;
    }
  </style>
</head>
<body>
  <div id="root">
    <div class="ui container">
      <h1 class="ui header">Access Log Parser</h1>
      <hr/>
      <div class="ui grid">
        <div class="four wide column">
          <h4 class="ui header">LOG FILES</h4>
          <div class="files ui ordered list">
            <% for (const file of files) { %>
              <a class="item blue" href="/logs/<%= file %>">
                <%= file %>
              </a>
            <% } %>
          </div>
        </div>
        
        <div class="twelve wide column">
          <h4 class="ui header">LOGS</h4>
          <table class="ui sortable celled padded table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Url</th>
              </tr>
            </thead>
            <tbody>
              <% logs.forEach(log => { %>
                  <tr>
                    <td>
                      <%= log.timestamp%>
                    </td>
    
                    <td>
                      <%= log.item[1] %>
                    </td>
                  </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/sortable.js" ></script>
  <script src="/scripts/lodash/lodash.js"></script>
  <script src="/scripts/moment/moment.js"></script>

  <script type="text/javascript">
    $('table').tablesort();

    $(function($) {
     var path = window.location.href; // because the 'href' property of the DOM element is the absolute path
     $('.files a').each(function() {
      if (this.href === path) {
       $(this).addClass('active');
      }
     });
    });
  </script>
</body>
</html>

